@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

.title{
    text-align: center;
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 120px;
    line-height: 158px;
    margin: 0px;
}

.descript{
    text-align: center;
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;
    margin: 50px;
}

.vertical {
    border-left: 3px solid #2136F2;
    height: 225px;
    position: absolute;
    top: 500px;
    left: 50%;
}

.input {
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    margin-left: 25%;
}

.output {
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    margin-left: 55%;
    position: absolute;
    top: 533px;
}

.end{
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
}