@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

.title{
    text-align: center;
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 120px;
    line-height: 158px;
    margin: 0px;
}

.subtitle{
    text-align: center;
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 40px;
    margin: 0px;
}

.description{
    text-align: center;
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    margin: 150px;
}

.end{
    text-align: center;
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 40px;
    margin: 150px; 
}